*, ::before, ::after{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.accordeon{
  display: flex;
  justify-content: center;
  margin: 100px;
}

.accordeon input{
  display: none;
}

.accordeon label{
  margin: 0 5px;
}

.accordeon label>img{
  width: 100px;
  height: 400px;
  object-fit: cover;
  transition: width 1s;
  cursor: pointer;
}

.accordeon input:checked + label>img{
  width: 250px;
}